@import "reset";
@import "responsive";

body {
  font-family: "Roboto", sans-serif;
}

.box-shadow {
  padding: 10px 15px;
  box-shadow: 0 0 5px black;
}

.App {
  width: 360px;
  margin: auto;
  @extend .box-shadow;
  .heading {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 20px;
  }
  .days {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 200px;
    @extend .box-shadow;
    .day {
      display: inline-block;
      width: 36px;
      margin: 0 3px;
      background: black;
    }
  }
}
