@import "reset";
@import "responsive";

body {
  font-family: "Roboto", sans-serif;
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/background.png);
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1;
  }
}

.box-shadow {
  padding: 10px;
  box-shadow: 0 0 5px rgba(black, 0.5);
}

.App {
  width: 360px;
  background: white;
  margin: auto;
  @extend .box-shadow;
  @include responsive(480px) {
    width: 100%;
  }
  header {
    h1 {
      text-align: center;
      font-size: 36px;
      font-style: italic;
      margin-bottom: 10px;
    }
    .today {
      text-align: right;
      font-style: italic;
      text-align: center;
      font-size: 14px;
    }
  }
  .days {
    position: relative;
    margin: 20px 0;
    height: 200px;
    display: flex;
    overflow: auto;
    .flex-scroll {
      display: flex;
      align-items: baseline;
    }

    @extend .box-shadow;
    .scratch {
      width: 2px;
      margin: 0 2px;
      background: rgba(navy, 0.2);
      height: 100%;
      display: inline-block;
    }
    .day {
      cursor: pointer;
      display: inline-block;
      width: 36px;
      margin: 0 3px;
      background: orange;
      transition: 0.3s;
      &.active {
        background: deepskyblue;
      }
      &:hover {
        box-shadow: 0 0 5px 1px rgba(black, 0.7);
      }
    }
    .locked {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(black, 0.5);
      text-align: center;
      padding: 10px 15px;
      img {
        width: 96px;
        height: 96px;
      }
      .advice {
        color: white;
        font-size: 14px;
        font-style: italic;
        text-shadow: 2px 2px 2px black;
      }
    }
  }
  .day-details {
    position: relative;
    margin-bottom: 20px;
    @extend .box-shadow;
    .date {
      font-style: italic;
      font-size: 14px;
      text-align: right;
    }
    .score {
      margin-bottom: 10px;
    }
    .text {
      margin: 10px 0;
      @extend .box-shadow;
    }
    .close {
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
  .submit-log {
    @extend .box-shadow;
    input[type="range"] {
    }
    textarea {
      font-family: "Roboto";
      margin: 15px 0;
      resize: none;
      width: 100%;
      @extend .box-shadow;
    }
    .first-log {
      color: green;
      margin-bottom: 15px;
    }
    button[type="submit"] {
      font-family: "Roboto";
      color: white;
      background: linear-gradient(blue, darkblue);
      cursor: pointer;
      padding: 8px 20px;
      border: 1px solid black;
      border-radius: 4px;
    }
  }
}
