@import "reset";
@import "responsive";

body {
  font-family: "Roboto", sans-serif;
}

.box-shadow {
  padding: 10px 15px;
  box-shadow: 0 0 5px rgba(black, 0.7);
}

.App {
  width: 360px;
  margin: auto;
  @extend .box-shadow;
  .heading {
    text-align: center;
    font-size: 36px;
    font-style: italic;
  }
  .days {
    margin: 20px 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 200px;
    @extend .box-shadow;
    .day {
      display: inline-block;
      width: 36px;
      margin: 0 3px;
      background: black;
    }
  }
  .submit-log {
    @extend .box-shadow;
    input[type="range"] {
    }
    textarea {
      margin: 15px 0;
      resize: none;
      width: 100%;
      @extend .box-shadow;
    }
    button[type="submit"] {
      cursor: pointer;
      padding: 8px 20px;
      border: 1px solid black;
      border-radius: 4px;
    }
  }
}
